<form [formGroup]="form_register" (ngSubmit)="user_register()">
    <div class="mb-3 form-group">
        <label for="username_input" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username_input" formControlName="username" [ngClass]="{ 'is-invalid' : get_field('username')?.invalid && get_field('username')?.touched }">
        <div>
            <small class="form-text text-muted text-danger">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="firstname_input" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="firstname_input" formControlName="firstname" [ngClass]="{ 'is-invalid' : get_field('firstname')?.invalid && get_field('firstname')?.touched }">
    </div>
    <div class="mb-3 form-group">
        <label for="lastname_input" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="last_input" formControlName="lastname" [ngClass]="{ 'is-invalid' : get_field('lastname')?.invalid && get_field('lastname')?.touched }">
    </div>
    <div class="mb-3 form-group">
        <label for="password_input" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password_input" formControlName="password1" [ngClass]="{ 'is-invalid' : get_field('password1')?.invalid && get_field('password1')?.touched }">
    </div>
    <div class="mb-3 form-group">
        <label for="password2_input" class="form-label">Repetir Contraseña</label>
        <input type="password" class="form-control" id="password2_input" formControlName="password2" [ngClass]="{ 'is-invalid' : get_field('password2')?.invalid && get_field('password2')?.touched }">
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-danger mr-3">Cancelar</button>
        <button type="submit" class="btn btn-primary ml-3">Registrar</button>
    </div>
</form>
