<fieldset>
    <h2>Datos Personales</h2>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-12 form-group">
                    <label for="first_name_input" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="first_name_  input">
                    <div class="form-text text-danger">We'll never share your email with anyone else.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 form-group">
                    <label for="last_name_input" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="last_name_input">
                    <div class="form-text text-danger">We'll never share your email with anyone else.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 form-group">
                    <label for="country_input" class="form-label">Pais</label>
                    <input type="text" class="form-control" id="country_input">
                    <div class="form-text text-danger">We'll never share your email with anyone else.</div>
                </div>
                <div class="col-6 form-group">
                    <label for="city_input" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="city_input">
                    <div class="form-text text-danger">We'll never share your email with anyone else.</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <input type="file" class="form-control" id="first_name_  input">
        </div>
    </div>
</fieldset>
<div class="row">
    <div class="col-12 form-group">
        <label for="email_input" class="form-label">Correo Electronico</label>
        <div class="input-group">
            <button class="input-group-text bg-primary text-white">Verificar</button>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username" id="email_input">
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12 form-group">
        <label for="description_input" class="form-label">Descripción</label>
        <ckeditor></ckeditor>
        <div class="form-text text-danger">We'll never share your email with anyone else.</div>
    </div>
</div>
<div class="row">
    <div class="col-4 form-group">
        <label for="facebook_input" class="form-label">Facebook</label>
        <input type="text" class="form-control" id="facebook_input">
        <div class="form-text text-danger">We'll never share your email with anyone else.</div>
    </div>
    <div class="col-4 form-group">
        <label for="twitter_input" class="form-label">Twitter</label>
        <input type="text" class="form-control" id="twitter_input">
        <div class="form-text text-danger">We'll never share your email with anyone else.</div>
    </div>
    <div class="col-4 form-group">
        <label for="phone_input" class="form-label">Telefono</label>
        <input type="text" class="form-control" id="phone_input">
        <div class="form-text text-danger">We'll never share your email with anyone else.</div>
    </div>
</div>