<h1>{{ title}}</h1>
<section class="container">
    <div class="profile-part profile-form" id="form">
        <div class="row">
            <div class="col-12 form-group">
                <label for="first_name_input" class="form-label">Nombres</label>
                <input type="text" class="form-control" id="first_name_ input" [(ngModel)]="profile.user.firstname">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="last_name_input" class="form-label">Apellidos</label>
                <input type="text" class="form-control" id="last_name_input" [(ngModel)]="profile.user.lastname">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="degree_input" class="form-label">Especialidad</label>
                <select class="form-select form-control" aria-label="Elige una Especialidad" id="degree_input" [(ngModel)]="profile.degree ">
                  <option selected>Open this select menu</option>
                  <option *ngFor="let degree of degrees" [ngValue]="degree">{{ degree.name }}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label>Foto de Perfil</label><br>
                <input type="file" class="form-control" id="inputGroupFile01" (change)="change_profile($event)" accept='image/*'>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-12">
                <label>Fondo</label><br>
                <input type="file" class="form-control" id="inputGroupFile01" (change)="change_wallpaper($event)">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="description_input" class="form-label">Descripción</label>
                <ckeditor [(ngModel)]="profile.description"></ckeditor>
            </div>
        </div>
    </div>
    <div class="profile-part profile-view" id="preview">
        <h2>Vista Previa</h2>
        <div class="profile-preview rounded shadow" id="profile_wallpaper" style="background-image: url('{{ profile.get_wallpaper() }}')">
            <div class="h-50 gradient d-flex justify-content-center">
                <img [src]=" profile.get_image() " id="profile_image" class="w-5 rounded-circle user-profile shadow-sm" alt="">
            </div>
            <div class="polygon">
                <div class="info">
                    <h2 class="align-ce">{{ profile.user.firstname }} {{ profile.user.lastname }}</h2> <br>
                    <h4>{{ profile.degree?.name }}</h4>
                    <div class="description" [innerHTML]="profile.description"></div>
                </div>
            </div>
        </div>
        <p class="text-danger preview-no-warning">Vista previa disponible solo en versión de escritorio</p>
        <div class="row mt-5">
            <div class="btn-group col">
                <button type="submit" class="btn btn-primary col">Guardar</button>
                <span type="submit" class="btn btn-danger col">Cancelar</span>
            </div>
        </div>

    </div>
</section>
