.container {
    height: 88%;
    position: absolute;
    display: block;
    overflow-y: auto;
    box-sizing: border-box;
}

.row {
    width: 90%;
    margin: 0px;
}

.item-menu :hover {
    background: #E0EBFE;
    color: #4c8cf4;
    text-decoration: none;
    font-weight: bold;
}

.active {
    color: white;
    text-decoration: none;
    pointer-events: none;
}

.active p {
    background-color: #4c8cf4;
    font-weight: bolder;
}

.item-menu input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    width: auto;
    display: table-cell;
}

.search-box {
    border: 1px solid #b0b0b0;
    display: flex;
    width: 100%;
}

.footer-profile {
    width: 100%;
    position: absolute;
    top: 88%;
    height: 12%;
    margin-bottom: 0px;
    border-top: 1px solid #b0b0b0;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

.menu-item-box {
    display: block;
    overflow-x: hidden;
    box-sizing: border-box;
}

.user_profile_mini {
    height: 70%;
    margin: 1em;
}