<div class="container mt-4 mb-4">
    <div class="row">
        <img src="./assets/img/logo.png" alt="softfile-logo" class="col-4 logo">
        <div class="col"></div>
        <div class="col-1 d-flex align-items-center">
            <button class="btn btn-light btn-lg" (click)="hide()">
              <i class="fa fa-bars"></i>
          </button>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-12 item-menu">
            <p class="p-3 rounded-pill search-box"><i class="fa fa-search pl-3 pr-3"></i><input type="text" placeholder="Buscar"></p>
        </div>
    </div>
    <div class="menu-item-box">
        <div *ngFor="let item of resources" class="row">
            <div class="col-12 item-menu">
                <a [routerLink]="[ item.url ]" routerLinkActive="active">
                    <p class="p-3 rounded-pill"><i class="{{ item.icon_class }} pl-3 pr-3"></i>{{ item.label }}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="mb-3"></div>
</div>
<div class="footer-profile ">
    <img src="/assets/img/user_icon.png" alt="perfil de usuario" class="user_profile_mini">
    <div>

        <span>Nombre de Usuario</span><br>
        <a [routerLink]="[ 'profile' ]" routerLinkActive="active">
            <button class="btn btn-primary">Perfil de Usuario</button>
        </a>
    </div>
</div>