<form [formGroup]="form_password" (ngSubmit)="reset_password()">
    <div class="mb-3 form-group text-justify">
        <label for="password_input" class="form-label">Pasada una hora del envio de la solcitud de cambio de contraseña no se podra realizar esta acción.</label>
        <input type="password" class="form-control" formControlName="password" id="password_input" [(ngModel)]="password" [ngClass]="{ 'is-invalid' : get_field('password')?.invalid && get_field('password')?.touched }">
        <div *ngIf="get_field('password')?.invalid && (get_field('password')?.dirty || get_field('password')?.touched)" class="text-danger">
            <small *ngIf="get_field('password')?.errors?.required" class="form-text">Ingrese una contraseña.</small>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <button type="submit" class="btn btn-primary ml-3 col-12" [disabled]="form_password.invalid">Guardar</button>
    </div>
</form>
