<form [formGroup]="form_login" (ngSubmit)="auth()">
    <div class="mb-3 form-group">
        <label for="username_input" class="form-label">Nombre de Usuario</label>
        <input type="text" class="form-control" id="username_input" formControlName="username" [ngClass]="{ 'is-invalid' : get_field('username')?.invalid && get_field('username')?.touched }" [(ngModel)]="username">
        <div *ngIf="get_field('username')?.invalid && (get_field('username')?.dirty || get_field('username')?.touched)" class="text-danger">
            <small *ngIf="get_field('username')?.errors?.required" class="form-text">Ingrese un nombre de usuario.</small>
        </div>
    </div>
    <div class="mb-3 form-group">
        <label for="password_input" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password_input" formControlName="password" [ngClass]="{ 'is-invalid' : get_field('password')?.invalid && get_field('password')?.touched }" [(ngModel)]="password">
        <div *ngIf="get_field('password')?.invalid && (get_field('password')?.dirty || get_field('password')?.touched)" class="text-danger">
            <small *ngIf="get_field('password')?.errors?.required" class="form-text">Ingrese una contraseña.</small>
        </div>
    </div>
    <div class="row">
        <div class="btn-group-vertical col">
            <button type="submit" class="btn btn-primary col" [disabled]="form_login.invalid">Iniciar sesión</button>
            <div class="btn-group">
                <span type="submit" class="btn btn-dark col" (click)="go_to('sign/reset')">Cambio de Contraseña</span>
                <span type="submit" class="btn btn-success col" (click)="go_to('sign/up')">Registrarse</span>
            </div>
        </div>
    </div>
</form>