<form [formGroup]="form_request" (ngSubmit)="request_reset_password()">
    <div class="mb-3 form-group text-justify">
        <label for="email_input" class="form-label">Escribir correo electronico asociado al usuario del cual desa solicitar un cambio de contraseña</label>
        <input type="text" class="form-control" id="email_input" formControlName="email" [ngClass]="{ 'is-invalid' : get_field('email')?.invalid && get_field('email')?.touched }" [(ngModel)]="email">
        <div *ngIf="get_field('email')?.invalid && (get_field('email')?.dirty || get_field('email')?.touched)" class="text-danger">
            <small *ngIf="get_field('email')?.errors?.required" class="form-text">Ingrese un correo electronico.</small>
            <small *ngIf="get_field('email')?.errors?.email" class="form-text">Formato invalido de correo.</small>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col">
            <button type="submit" class="btn btn-primary col" [disabled]="form_request.invalid">Solicitar</button>
            <span type="submit" class="btn btn-danger col" (click)="cancel()">Cancelar</span>
        </div>
    </div>
</form>